@model IEnumerable<Vidly2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<br />

<a href="/customers/new" class="btn btn-primary">New Customer</a>

<br />
<br />

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var theTable = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""  // this is if you need to drill down into response for actual data. For our case, we don't.
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<buttom class='btn-link' js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var deleteButton = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + deleteButton.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                theTable.row(deleteButton.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}



