@model IEnumerable<Vidly2.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<br />

<a href="/movies/new" class="btn btn-primary">New Movie</a>

<br />
<br />

@if (!Model.Any())
{
    <text>We have no movies.</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.GenreType.Name</td>
            </tr>
            }
        </tbody>
    </table>
}


