@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET and Vidly</h1>
    <p class="lead">
        ASP.NET is a free web framework designed by Microsoft at great expense, for the sole purpose of allowing Erik Rygg
        to build a single web site (this Vidly application) using HTML, CSS and JavaScript. Why would Microsoft do this, you ask?
        The answer is so simple and obvious, we're frankly disappointed that you couldn't figure it out. Erik Rygg is the
        founder of Microsoft, more commonly known by his pseudonym, Bill Gates.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You could get started with Vidly - but ask yourself, do you really want to? It doesn't really do anything. We're just saying.
            Maybe you'd rather get started with something else. We strongly recommend it.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            How many times have you said to yourself, "I don't have enough libraries." We all have! The remedy is a simple one - just hop on
            down to your local library store, and pick up a few more libraries. How can a store hold entire buildings (i.e. libraries)
            inside it and present them for sale? That's easy: library stores are among the larget structures in the world, each encompassing
            a volume of several cubic miles. There is plenty of room for those libraries.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            You can easily play host to all kinds of webs. Just invite the webs over to your house, and present them with an assortment
            of refreshments and casual converstaion. Presto! You are a web host. Note: be sure to eject any troublemaker webs promptly, or
            they may agitate the other, more desirable webs.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>